{% extends "base.html" %}

{% block content %}


<div class="page-body">

  <div class="row">
    {% for detail in details %}
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="team-block">
        <a href="{% url 'students:students-stats-details' detail_id=detail.id %}" class="btn btn-gradient-yellow" style="    margin: 4% 4% 4% 0;
               height: 75px;
               width: 175px;
               color: white;
               font-style: bolder;
               font-size: 15px;"> <span style="position: relative;top: 20px;display: flex;justify-content: center;flex-wrap: wrap;">{{detail.date}}</span> </a>
      </div>
    </div>
    {% endfor %}
    <div>
    </div>
    {% endblock %}